## Wczytywanie danych

In [9]:
import pandas as pd
import os

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/AlicjaHol/kwaternion/master/pokemon_data.csv")

In [6]:
df.head(9)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [7]:
df_txt = pd.read_csv("https://raw.githubusercontent.com/AlicjaHol/kwaternion/master/pokemon_data.txt", delimiter = "\t")

In [8]:
df_txt.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [10]:
os.getcwd()

'C:\\Users\\alaho\\Desktop\\Ala\\analiza_danych\\kwaternion'

In [12]:
df_excel = pd.read_excel("pokemon_data.xlsx")

In [13]:
df_excel.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [14]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Oczyszczanie danych

In [15]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [16]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

Zmieniamy nazwy kolumn żeby pozbyć się spacji i kropek.

In [17]:
df.columns = ['Number', 'Name', 'Type1', 'Type2', 'HP', 'Attack', 'Defense', 'Sp_Atk', 'Sp_Def', 'Speed', 'Generation', 'Legendary']

In [21]:
df.columns[1]

'Name'

In [22]:
df.head()

,Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [24]:
pd.isna(df).sum()

Number          0
Name            0
Type1           0
Type2         386
HP              0
Attack          0
Defense         0
Sp_Atk          0
Sp_Def          0
Speed           0
Generation      0
Legendary       0
dtype: int64

Sprawdziliśmy brakujące dane, nie ma potrzeby usuwania danych.

## Podstawowe statystyki

In [25]:
df.describe()

,Number,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [27]:
df.describe(percentiles = [.1, .6, .99])

,Number,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
10%,73.900000,40.000000,40.000000,40.000000,35.000000,40.000000,30.000000,1.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
60%,431.400000,71.000000,85.000000,77.000000,75.000000,75.000000,75.000000,4.00000
99%,715.010000,150.000000,165.000000,180.000000,165.050000,150.000000,145.000000,6.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

## Odwoływanie do wierszy, kolumn itd

In [29]:
df.HP[2:5]

2    80
3    80
4    39
Name: HP, dtype: int64

In [30]:
df.Type1

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type1, Length: 800, dtype: object

In [31]:
df['Type1']

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type1, Length: 800, dtype: object

In [32]:
df.iloc[1, 1]

'Ivysaur'

In [33]:
df.iloc[:, 1]

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [34]:
df.loc[:, 'Type2']

0      Poison
1      Poison
2      Poison
3      Poison
4         NaN
        ...
795     Fairy
796     Fairy
797     Ghost
798      Dark
799     Water
Name: Type2, Length: 800, dtype: object

In [35]:
df.loc[1:7, 'Speed']

1     60
2     80
3     80
4     65
5     80
6    100
7    100
Name: Speed, dtype: int64

In [36]:
df.loc[2:8, ['Type1', 'Type2']]

   Type1   Type2
2  Grass  Poison
3  Grass  Poison
4   Fire     NaN
5   Fire     NaN
6   Fire  Flying
7   Fire  Dragon
8   Fire  Flying

In [37]:
df[df['Type1']=='Grass']

,Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [39]:
df[df.Type1.isin(['Grass', 'Fire'])]

,Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [40]:
df.HP.mean()

69.25875

In [41]:
df.mean()

Number        362.81375
HP             69.25875
Attack         79.00125
Defense        73.84250
Sp_Atk         72.82000
Sp_Def         71.90250
Speed          68.27750
Generation      3.32375
Legendary       0.08125
dtype: float64

In [42]:
df.Speed.max()

180

In [43]:
df[df['Speed']==180]

,Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,50,95,90,95,90,180,3,True

## Dodawanie nowej kolumny

In [44]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp_Atk'] + df['Sp_Def'] + df['Speed']

In [45]:
df.head()

,Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [46]:
45+49+49+65+65+45

318

In [48]:
df.to_csv("modified.csv", index = False)

In [49]:
new_df = df[df.Type1 == 'Dark']

In [50]:
new_df

,Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary,Total
212,197,Umbreon,Dark,NaN,95,65,110,60,130,65,2,False,525
213,198,Murkrow,Dark,Flying,60,85,42,85,42,91,2,False,405
233,215,Sneasel,Dark,Ice,55,95,55,35,75,115,2,False,430
246,228,Houndour,Dark,Fire,45,60,30,80,50,65,2,False,330
247,229,Houndoom,Dark,Fire,75,90,50,110,80,95,2,False,500
248,229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,2,False,600
284,261,Poochyena,Dark,NaN,35,55,35,30,30,35,3,False,220
285,262,Mightyena,Dark,NaN,70,90,70,60,60,70,3,False,420
326,302,Sableye,Dark,Ghost,50,75,75,65,65,50,3,False,380
327,302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,3,False,480
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False,465
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False,565
478,430,Honchkrow,Dark,Flying,100,125,52,105,52,71,4,False,505
512,461,Weavile,Dark,Ice,70,120,65,45,85,125,4,False,510
549,491,Darkrai,Dark,NaN,70,90,90,135,90,125,4,True,600
568,509,Purrloin,Dark,NaN,41,50,37,50,37,66,5,False,281
569,510,Liepard,Dark,NaN,64,88,50,88,50,106,5,False,446
620,559,Scraggy,Dark,Fighting,50,75,70,35,70,48,5,False,348
621,560,Scrafty,Dark,Fighting,65,90,115,45,115,58,5,False,488
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False,330
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False,510
685,624,Pawniard,Dark,Steel,45,85,70,40,40,60,5,False,340
686,625,Bisharp,Dark,Steel,65,125,100,60,70,70,5,False,490
690,629,Vullaby,Dark,Flying,70,55,75,45,65,60,5,False,370
691,630,Mandibuzz,Dark,Flying,110,65,105,55,95,80,5,False,510
694,633,Deino,Dark,Dragon,52,65,50,45,50,38,5,False,300
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False,420
696,635,Hydreigon,Dark,Dragon,92,105,90,125,90,98,5,False,600
756,686,Inkay,Dark,Psychic,53,54,53,37,46,45,6,False,288
757,687,Malamar,Dark,Psychic,86,92,88,68,75,73,6,False,482
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True,680

In [51]:
new_df.reset_index(drop = True, inplace = True)

In [52]:
new_df.head()

,Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary,Total
0,197,Umbreon,Dark,NaN,95,65,110,60,130,65,2,False,525
1,198,Murkrow,Dark,Flying,60,85,42,85,42,91,2,False,405
2,215,Sneasel,Dark,Ice,55,95,55,35,75,115,2,False,430
3,228,Houndour,Dark,Fire,45,60,30,80,50,65,2,False,330
4,229,Houndoom,Dark,Fire,75,90,50,110,80,95,2,False,500

In [54]:
new_df.to_excel("poke_only_dark.xlsx", index = False)

In [67]:
df[(df.Legendary == False) & (df.Name.str.contains('Mega'))].sort_values(['Type1', 'Total'], ascending = [True, False])

,Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary,Total
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False,600
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False,600
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495
248,229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,2,False,600
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False,565
327,302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,3,False,480
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False,700
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False,700
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False,590
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False,610
339,310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,3,False,575
498,448,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,4,False,625
336,308,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,3,False,510
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False,630
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False,560
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False,600
387,354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,3,False,555
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False,630
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,594
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False,525
397,362,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,3,False,580
124,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,1,False,590
476,428,LopunnyMega Lopunny,Normal,Fighting,65,136,94,54,96,135,4,False,580
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
591,531,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,5,False,545
306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,3,False,618
527,475,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,4,False,618
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False,590
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False,700
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False,615
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False,700
333,306,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,3,False,630
224,208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,2,False,610
329,303,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,3,False,480
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False,640
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False,635
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False,590
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False,560

In [65]:
df[df.Name.str.contains('Mega')]

,Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary,Total
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False,590
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False,590
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False,600
124,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,1,False,590
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False,640
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False,615
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False,525
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False,610
224,208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,2,False,610
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False,600
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False,600
248,229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,2,False,600
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False,700
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False,630
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False,630
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False,635
306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,3,False,618
327,302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,3,False,480
329,303,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,3,False,480
333,306,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,3,False,630
336,308,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,3,False,510
339,310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,3,False,575
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False,560
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False,560
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False,590
387,354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,3,False,555
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False,565
397,362,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,3,False,580
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False,700
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False,700
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True,700
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True,700
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
476,428,LopunnyMega Lopunny,Normal,Fighting,65,136,94,54,96,135,4,False,580
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False,700
498,448,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,4,False,625
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,594
527,475,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,4,False,618
591,531,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,5,False,545
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700